@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font: 'Open Sans',
sans-serif;
$color1: #EEEEEE;
$color2: #424242;
$color3: #757575;
$color4: #D32F2F;
$color5: #9E9D24;
$colorPlay: #43A047;
$heightH: 4rem;
$heightB: 3rem;
$heightT: 6rem;
$margin: 2rem;
$radius: 1.5rem;