@import url("https://fonts.googleapis.com/css?family=Open+Sans");
header h1, #timer,
.controllers {
  text-align: center;
  line-height: 3; }

.box {
  display: inline-block;
  width: 6rem;
  margin-right: 2rem; }

#boxPlay {
  margin-top: 2rem; }
  #boxPlay .box {
    width: 6rem;
    height: 6rem; }
