@import url("https://fonts.googleapis.com/css?family=Open+Sans");
header h1, #timer,
#controllers {
  text-align: center;
  line-height: 3; }

#controllers .box {
  display: inline-block;
  width: 6rem; }
