@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.top {
  margin-top: 1rem; }

.bottom {
  margin-bottom: 1rem; }

.center {
  text-align: center;
  line-height: 2.5; }

.box {
  display: inline-block;
  width: 6rem;
  margin-right: 2rem; }

#boxPlay {
  margin-top: 2rem; }
  #boxPlay .box {
    width: 6rem;
    height: 6rem; }
