@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: "Open Sans", sans-serif; }

header {
  background: #EEEEEE; }
  header h1 {
    font-size: 2.3rem;
    color: #424242;
    font-weight: bold; }

#timer {
  font-size: 6rem;
  color: #757575; }

.box {
  font-size: 1.2rem; }

#boxTime .box {
  color: #EEEEEE;
  background: #424242;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem; }

#boxPlay .box:first-child {
  background: #43A047; }

#boxPlay .box:nth-child(2) {
  background: #9E9D24; }

#boxPlay .box:nth-child(3) {
  background: #D32F2F; }

#boxPlay .box {
  color: #EEEEEE;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%; }
