@import 'import/_variables';
.top {
    margin-top: $top;
}

.bottom {
    margin-bottom: $top;
}

.center {
    text-align: center;
    line-height: 2.5;
}

.box {
    display: inline-block;
    width: $heightT;
    margin-right: $margin;
}

#boxPlay {
    margin-top: $margin;
    .box {
        width: 6rem;
        height: 6rem;
    }
}

#boxForm {
    display: visible;
}