@import 'import/_variables';
%center {
    text-align: center;
    line-height: 3;
}

header {
    h1 {
        @extend %center;
    }
}

#timer,
.controllers {
    @extend %center;
}

.box {
    display: inline-block;
    width: $heightT;
    margin-right: $margin;
}

#boxPlay {
    margin-top: $margin;
    .box {
        width: 6rem;
        height: 6rem;
    }
}