@import 'import/_variables';
@import 'import/_mixins';
body {
    font-family: $font;
}

header {
    background: $color1;
    h1 {
        font-size: 2.3rem;
        color: $color2;
        font-weight: bold;
    }
}

#timer {
    font-size: 6rem;
    color: $color3;
}

.box {
    font-size: 1.2rem;
}

#boxTime {
    .box {
        color: $color1;
        background: $color2;
        @include border-radius($radius);
    }
}

#boxPlay {
    .box:first-child {
        background: $colorPlay;
    }
    .box:nth-child(2) {
        background: $color5;
    }
    .box:nth-child(3) {
        background: $color4;
    }
    .box {
        color: $color1;
        @include border-radius(50%);
    }
}